$colors: (
  primary: (
    600: hsl(12, 88%, 59%),
    700: hsl(228, 39%, 23%),
  ),
  neutral: (
    350: hsl(0, 0%, 98%, 0.1),
    400: hsl(0, 0%, 98%),
    500: hsl(13, 100%, 96%),
    550: hsl(227, 12%, 61%, 0.1),
    600: hsl(227, 12%, 61%),
    650: hsl(233, 12%, 13%, 0.7),
    700: hsl(233, 12%, 13%),
  ),
);
